body {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    padding: 0 10px;
    display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: orange;
}


*,*::after, *::before {
  box-sizing:inherit;
  margin: 0;
  padding: 0;
}


.wrapper {
    background-color: #fff;
    padding: 35px;
    width: 800px;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
}

.wrapper .content-box {
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid #bfbfbf;
}

.content-box .user-content {
    padding: 12px 0;
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;
}