@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --initial-text-color: #111;
  --poppins-font-family: "Poppins", sans-serif;
  --application-background:#fff;
  --primary-color:#333;
  --secondary-color:#ffa600e9;
  --para-color:#666;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  color: var(--initial-text-color);
}

body {
  font-family: var(--poppins-font-family);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
  background-color: var(--application-background);
  transition:0.5s;
}
 
.portfolio-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}

a {
  text-decoration: none;
} 

.portfolio-logo  a {
    color:var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    transition: 0.5s;
}

.portfolio-logo  a > span {
    color: var(--secondary-color);
    font-size: 2em;
} 

.portfolio-header .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    transition: 0.5s;
} 

.navbar ul > li {
    font-size: 1.2rem;
    color: var(--primary-color);
}


.hero-section {
    position: relative;
    max-width: 800px;
}

.hero-section h2 {
    font-size: 3.5rem;
    color: var(--primary-color);
}

.hero-section h2 > span {
    color: var(--secondary-color);
    font-size: 1.5em;
} 

.hero-section p {
    font-size: 1.2rem;
    color: var(--para-color);
    margin: 10px 0px;
    transition: 0.5s;
}

.hero-section button {
  border: none;
  outline: none;
  padding: 20px;
  margin-inline: 10px;
  border-radius: 8px;
}

.hero-section button:first-child {

}

