@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: var(--text-color);
  font-weight: bold;
}

:root {
  --app-background-color: #2c2c2c;
  --text-color: #fff;
  --text-color-dull:#ffffffcd;
  --text-color-grey:#808080;
  --montserrat-font: "Montserrat", "Poppins", sans-serif;
  --cursive-font:cursive;
}

body {
  background-color: var(--app-background-color);
  font-family: var(--montserrat-font);
} 

.header {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--app-background-color);
}

.header .logo {
  border: 2px solid var(--text-color-dull);  
  font-size: 2rem;
  font-family: var(--montserrat-font);
  color: var(--text-color-dull);
  word-spacing: 1.5;
  font-weight: 600;
  padding: 5px;
  border-radius: 16px ;
  transition: all 1s ease-in-out;
  cursor: pointer;
} 

.header .logo:hover {
    border-color: var(--text-color);
    color: var(--text-color);
}

.header .header-navbar {
    width: 40vw;
}

.header .header-navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.header .header-navbar ul li > a {
    text-decoration: none;
    font-weight: normal;
    font-size: 1.2rem;
    padding: 5px;
    color: var(--text-color-dull);
    transition:all 0.5s ease-in-out; 
}

.header .header-navbar ul  li > a:hover {
    color:var(--text-color);
    border-bottom: 3px solid var(--text-color);
    border-radius: 10px;
}

main {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid var(--text-color-grey);
  border-radius: 5px;
} 

.hero-section-l {
  flex:1; 
  text-align: center;
} 
 
.hero-section-l h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--text-color-dull);
}

.hero-section-l h2:hover {
  color: var(--text-color);
}

.hero-section-img {
  width: 300px;
   animation: planet-rotate 5s linear infinite;
}

.hero-section-img:hover {
  text-shadow: 5px 5px 10px var(--text-color-dull);
}


.hero-section-r {
  flex:2; 
}

.hero-section-r p {
 line-height: 1.5;
 font-weight: 400;
 font-family:var(--cursive-font);
 font-size: 1.2rem;
}


.hero-section-r button {
  margin-top: 2rem;
  padding: 15px;
  width: 140px;
  outline: none;
  border: 1px solid var(--text-color-dull);
  border-radius: 15px;
  background-color: var(--text-color);
  color:var(--text-color-grey);
  font-size: 0.9rem;
  cursor: pointer;
}

.hero-section-r button:hover{
  border: 1px solid var(--text-color);
  background-color:var(--text-color-dull);
  color: #111;
}

@keyframes planet-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
