html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.app-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

.sign-board {
  border: 2px solid #111;
  width: 50vw;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #111111a1;
  position: relative;
}

.board {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
}

.sign-board-tool,
.user-tool {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.tools {
  width: 180px;
  padding: 2px;
  height: 30px;
  outline: none;
  border: 2px solid #1111114e;
  border-radius: 5px;
}

.boards-tool > p {
  text-align: center;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 1.1rem;
}

button {
  width: 180px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

button:first-child {
  background-color: #ff0000a8;
}

button:first-child:hover {
  background-color: #ff0000;
}

button:nth-child(2) {
  background-color: #008000ac;
}

button:nth-child(2):hover {
  background-color: #008000;
}

button:last-child {
  background-color: #d2d20acd;
  color: #111;
}

button:last-child:hover {
  background-color: #eeee18;
}
