* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}


body {
    font-family: cursive;
    position:relative; 
}

.todolist-header {
   margin-block: 120px; 
   padding: 15px;
   width: 600px;
   max-width: 800px;
   border-radius: 10px;
   box-shadow: 2px 4px 6px rgba(0,0,0,0.3) ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.todolist-header > h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
    color: #333;
}

.todo-input-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    flex:1;
    outline: none;
    border: none;
    background-color: #33333318;
    color: #111;
    border-radius: 5px 0px 0px 5px; 
    font-size: 1rem;
    padding: 10px;

}


button {
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: grey;
    border-radius:0px 5px 5px 0px;
    cursor: pointer;
}

ul {
    list-style-type:disc;
    padding: 20px; 
    position: absolute;
    top:240px;
    left:470px;
   width: 600px;
   max-width: 800px;
   border-radius: 10px;
   box-shadow: 2px 4px 6px rgba(0,0,0,0.3) ;
}


