* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

*::after,
*::before {
  box-sizing: inherit;
}

.hero-section {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0 5%;
  /** Centering the video tag */
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content {
    text-align: center;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid white;
    padding: 14px 50px;
    margin-top: 20px;
    transition: 0.5s;
} 

.content a:hover {
    background-color: #fff;
    color: #111;
}

.content h1 {
    font-size: 160px;
    color: white;
    font-weight: 600;
    transition:0.5s
}

.content h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
} 

@media (min-aspect-ratio:16/9) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ration:16/9) {
    .video {
        width: auto;
        height:100%;
    }
}
